:root {
  font-family: oxanium;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  transition: cubic-bezier(0.165, 0.84, 0.44, 1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contizer {
  max-width: 1530px;
  padding: 0 15px;
  margin: 0 auto;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header {
  background-color: #032541;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* width */
body::-webkit-scrollbar {
  width: 8px;
}
/* movie_playlist */
.movie_playlist::-webkit-scrollbar {
  width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #80808041;
  border-radius: 10px;
}
/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #80808038;
  border-radius: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #32338a23;
  border-radius: 10px;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:active {
  cursor: grab;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: #32338a25;
  border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #32338a4a;
}
/* scrollbar 2 */
.myScrollbar::-webkit-scrollbar {
  width: 5px;
}
.myScrollbar::-webkit-scrollbar-track {
  background: #f1f1f140;
  border-radius: 10px;
}
.myScrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.myScrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
