@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .myGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
  }
  .myGridDis {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  .myGridDis2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 10px;
  }
  .myGrid2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .myGridMob {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }
  .myGridMob2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .navUl {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 50;
    color: gray;
    padding: 8px 0;
    background-color: #032541;
    width: calc(100% + 100px);
    flex-direction: column;
  }
  .prLi:hover .navUl {
    display: flex;
  }
  .prLi1:hover .navUl {
    display: flex;
  }
  .prLi2:hover .navUl {
    display: flex;
  }
  .prLi3:hover .navUl {
    display: flex;
  }
  /* people detail  */
  #mydis {
    opacity: 0;
    visibility: hidden;
  }
  #myDiscussion:hover #mydis {
    opacity: 1;
    visibility: visible;
  }
  .active {
    border-bottom: 2px solid black;
    transition: all linear 0.5s;
  }
  /* progress abr  */
  .radial-progress {
    height: 60px !important;
    width: 60px !important;
    background-color: #ffffff !important;
    --thickness: calc(var(--size) / 10) !important;
  }
  .radial-progress:after {
    transform: rotate(calc(var(--value) * 3.6deg - 90deg))
      translate(calc(var(--size) / 2.7 - 50%)) !important;
    background-color: currentColor;
  }
  .myProgress:after {
    transform: rotate(calc(var(--value) * 3.6deg - 90deg))
      translate(calc(var(--size) / 4.7 - 50%)) !important;
  }
  .myProgress {
    height: 34px !important;
    width: 34px !important;
    background-color: #ffffff !important;
    --thickness: calc(var(--size) / 20) !important;
  }
  .detailItem {
    text-shadow: 0px 0px 10px #000;
  }
  .noshadow {
    text-shadow: none;
  }
  .dImage .xpnd {
    transition: all linear 0.2s;
    cursor: pointer;
  }
  .dImage:hover .xpnd {
    opacity: 1 !important;
    visibility: visible !important;
  }
  .swiper .swiper-button-prev,
  .swiper-button-next {
    top: calc(100% - 26px) !important;
    padding: 6px 10px !important;
    border-radius: 4px;
    line-height: 0 !important;
    display: inline-block;
    width: fit-content;
    height: min-content !important;
  }
  .swiper .swiper-button-prev {
    left: 61.4% !important;
  }
  .swiper .swiper-button-prev::after {
    font-size: 20px !important;
  }
  .swiper .swiper-button-next::after {
    font-size: 20px !important;
  }

  /* switch  */
  .leftSwitch {
    transform-origin: 0%;
    transform: translateX(0);
    transition: cubic-bezier(0.37, 0.83, 0.67, 1.07) 0.5s !important;
  }
  .rightSwitch {
    transform: translateX(calc(8px + 69%));
    transition: cubic-bezier(0.37, 0.83, 0.67, 1.07) 0.5s !important;
  }
}
